<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-3 form-group">
          <label for="name">For who?</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Name"
            name="name"
            ngModel
            required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="age">Age</label>
          <input
            type="number"
            id="age"
            class="form-control"
            placeholder="Age"
            name="age"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
        <div class="col-sm-2 form-group">
        <label for="weight">Weight</label>
        <input
          type="number"
          id="weight"
          class="form-control"
          placeholder="Weight"
          name="weight"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$"
        >
      </div>
        <div class="col-sm-2 form-group">
          <label for="height">Height</label>
          <input
            type="number"
            id="height"
            class="form-control"
            placeholder="Height"
            name="height"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="height">Sex</label>
          <select class="form-control" name="sex"  ngModel required>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="height">Level of activity</label>
          <select class="form-control" name="activity"  ngModel required>
            <option value="1.4">Little / No training</option>
            <option value="1.6">Low activity (training 1-3 times a week)</option>
            <option value="1.75">Average activity (Daily activity or intensive training 3-4 times a week)</option>
            <option value="2">High activity (intensive training 6-7 times a week)</option>
            <option value="2.3">Very high activity (daily high-intensity workouts or physical work)</option>
          </select>
        </div>
        <div class="col-sm-3 form-group">
          <label for="height">Goal of diet</label>
          <select class="form-control" name="goal" ngModel required>
            <option value="1">I want to lose weight</option>
            <option value="2">I want to keep my weight</option>
            <option value="3">I want to gain weight</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
